#container{
display:grid;
grid-template-columns: 3fr 1fr;/*fr é um flex. */
grid-template-rows: 13.5% 70vh 10vh;/*linhas */
grid-template-areas: "header header"
                     "main aside"   
                     "footer footer"        
;   /*desempenha a mesma função do grid-column-start e o
grid-column-end: */


/*
grid-gap: 20px;dá espaço entre os elementos */
}